{% extends 'main.html' %}

{% block contend %}
    <div class="wrapper">
        <div class="logo">
            <img src="https://i.pinimg.com/564x/21/b2/11/21b211c7ee7802b4a706450322cb7597.jpg" alt="Team" title="Team">
        </div>
        <div class="text-center mt-4 name">
            Registrarse
        </div>
        <form action=""  method="POST" class="p-3 mt-3">
            {% csrf_token %}
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="email" name="email" id="email" placeholder="Email" required="true">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="userName" id="userName" placeholder="Username" required="true">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="pwd" placeholder="Password" required="true">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password2" id="pwd2" placeholder="Repeat Password" required="true">
            </div>
            <button type="submit" class="btn mt-3">SignUp</button>
        </form>
        <div class="text-center fs-6">
            <small>¿Ya tienes una cuenta?</small>  <a href="{% url 'loginPage' %}">INGRESA</a>
        </div>
    </div>

    
{% endblock contend %}