{% extends 'main.html' %}

{% block contend %}

<h2 class="createNewTeamTitle">Crear nuevo equipo</h2>
<div class="wrapper createTeam">
    <form action=""  method="POST" class="p-3 mt-3">
        {% csrf_token %}
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="teamName" id="teamName" placeholder="Nombre de equipo" >
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="teamGoal" id="teamGoal" placeholder="Propósito de equipo" >
        </div>
        <button type="submit" class="btn mt-3 buttonCreateTeam">Crear</button>
        <small>Podrá agregar integrantes posterior a su creación.</small>
    </form>
</div>


<hr class="teamSeparator">
<h2 class="createNewTeamTitle"><a href="#">Tus equipos</a></h2>
<section class="myTeamsContainer">
    {% for team in teams %}
    <a href="{% url 'editTeam' team.id %}">
        <div class="card text-bg-light mb-3 cardTeam" style="max-width: 18rem;">
            <div class="card-header">{{team.created_at | date:"Y-m-d H:i"}}</div>
            <div class="card-body">
              <h5 class="card-title">{{team.name}}</h5>
              <p class="card-text">{{team.goal}}</p>
            </div>
          </div>
    </a>
      {% endfor %}
</section>

{% endblock contend %}