{% extends 'main.html' %} {% block contend %}
<h2 class="createNewTeamTitle mt-3"><a>Tus proyectos</a></h2>
<section class="allTeamsContainer">
    <div class="container mt-5 mb-5">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
          {% for project in projects %}
          <a href="{% url 'editProject' project.id %}" class="notextdecoration">
            <div class="card text-bg-light mb-3 cardTeam" style="max-width: 18rem;">
                <div class="allprojectsImageContainer">
                    <img
                    src="{{project.image.url}}"
                    width="100"
                    class="rounded-circle allprojectsImage"
                  />
              <div class="card-header">{{project.created_at | date:"Y-m-d H:i"}}</div>
                </div>
                    
                <div class="card-body">
                  <h5 class="card-title">{{project.name}}</h5>
                  <p class="card-text">{{project.team.name}}</p>
                </div>
              </div>
        </a>
          {% endfor %}
        </div>
      </div>
</section>

{% endblock %}
